<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      {{#ui-dropdown class="selection my-min-width fluid" selected=selectedUnit onChange=(action 'updateUE' selectedUnit)}}
        <div class="default text">Unit ...</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each units as |unit|}}
            <div class="item" data-value="{{unit.id}}">
              {{unit.name}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
      <br>
    </div>
    <div class="col-md-3">
      {{#ui-dropdown class="selection my-min-width fluid" selected=selectedCourse onChange=(action 'updateCourse' selectedCourse)}}
        <div class="default text">Course ...</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each courses as |course|}}
            {{#if (eq (is-course-in-unit course selectedUnit) true)}}
              <div class="item" data-value="{{course.id}}">
                {{course.name}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/ui-dropdown}}
      <br>
    </div>
    <div class="col-md-3 col-xs-10">
      {{#ui-dropdown class="selection my-min-width fluid" selected=selectedChapter onChange=(action (mut selectedChapter)) as |execute mapper|}}
        <div class="default text">Chapter ...</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each chapters as |chapter|}}
            {{#if (eq (is-chapter-in-course chapter selectedCourse) true)}}
              <div class="item" data-value="{{map-value mapper chapter}}">
                {{chapter.name}}
              </div>
            {{/if}}
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>
    <div class="col-md-2 col-xs-2">
      <button class="fluid ui icon button button-font-size"
        {{action 'removeChapter'}}>
        <i class="remove icon"></i>
      </button>
      <br>
    </div>
  </div>
</div>

{{#if error}}
  <div class="ui negative message">
    <i class="close icon"
      {{action 'removeError'}}></i>
    <div class="header">
      Error
    </div>
    <p>
      Please select a chapter to remove
    </p>
  </div>
{{/if}}

{{yield}}